In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import joblib
import warnings
import os
warnings.filterwarnings('ignore')

In [28]:
#loading the dataset
data = pd.read_csv(r'C:\volkswagen-techathon\dataset\car_details.csv')

In [29]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,maintainence_duration
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,221.0
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,75.0
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,211.0
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,21.0
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,128.0